<%= form_for(@ShareType) do |f| %>
    <% if @ShareType.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ShareType.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @ShareType.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :TYPE_NAME %><br />
      <%= f.text_field :TYPE_NAME%>
    </div>
    <div class="field">
      <%= f.label :TYPE_CODE %><br />
      <%= f.text_field :TYPE_CODE %>
    </div>
    <div class="field">
      <%= f.label :TYPE_DESC %><br />
      <%= f.text_field :TYPE_DESC %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
